/* variables */
:root {
    /* color */
    --light-gray: #c4c4c4;
    --black: #000000;

    /* font-size */
    --font-12px: 0.75rem;
    --font-16px: 1rem;
}

/* reset tag*/
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* 전역적 클래스 */
.container {
    width: 100%;
    height: auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.background {
    background-color: var(--light-gray);
}

/* 헤더 부분 */
.Header {
    flex-direction: row;
    justify-content: space-between;
}

.cont-logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
    line-height: 60px;
    margin-left: 0.25em;
}

.img-logo {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Header ul {
    display: flex;
    flex-direction: row;
}

.Header li {
    list-style: none;
    cursor: pointer;
    margin-right: 1em;
}

.active {
    color: blue;
}

/* 서비스 홈화면 */
.cont-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-order {
    max-width: 160px;
    margin: 0.5em 0.25em 0;
    display: flex;
    flex-direction: column;
}

/* 회원가입 form */
.cont-auth, .cont-login {
    align-items: flex-start;
    font-size: var(--font-12px);
}

.cont-auth input, .cont-login input {
    margin-bottom: 0.66em;
}

.cont-auth input:focus, .cont-login input:focus {
    outline: none;
}

.cont-auth button, .cont-login button {
    width: 100%;
}

/* 로그아웃 */
.cont-logout {
    margin-top: 1em;
}

/* 주문 목록 */
.order-list:hover {
    background-color: var(--light-gray);
    cursor: pointer;
}

.list-link {
    display: block;
}